.wrap {
  background: #1a2a3b;
  padding-top: 75px;
  min-height: 100vh;
  width: 100%;
  margin: 0;
}

.thumbnail-ul {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-around;
  /* background: green; */
  width: 90%;
  margin: 0 auto;
}

.thumbnail {
  width: 45%;
  background: blue;
  margin: 1em 0;
  position: relative;
  cursor: pointer;
}

.thumbnail-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;

  transition: all 0.5s;
}

.thumbnail-overlay:hover {
  background: none;
}

.thumbnail-title {
  position: absolute;
  bottom: 20px;
  right: 10px;

  font-size: 14px;
  font-weight: lighter;
  text-align: right;
}

.thumbnail img {
  width: 100%;
  height: 100%;
}

.modal-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.9);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background: #2f4c6b;
  margin: 0 auto;
}

.modal-overflow {
  width: 100%;
  height: 100%;
  padding: 0.75em;
  overflow-y: scroll;
}

.heart-container {
  text-align: center;
  width: 25px;
  height: 25px;

  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 100%;
}

.non-favorite {
  background-color: #c4c4c4;
}

.non-favorite i {
  color: #6b6b6b;
}

.favorite {
  background-color: #bf0a0a;
}

.favorite i {
  color: #7f0606;
}

.modal-exit-btn {
  text-align: center;
  width: 15px;
  height: 15px;

  position: fixed;
  top: -5px;
  right: -5px;

  display: inline-flex;
  flex-direction: column;
  align-items: center;

  border-radius: 100%;
  background: #292929;
  color: #fff;
  font-size: 10px;
}

.content-description {
  font-size: 7px;
}

.toggle-description-btn {
  background: #1ec49e;
  font-size: 7px;
  border-radius: 7px;
  border: none;
}

.comic-cover {
  width: 75%;
  display: block;
  margin: 1em auto;
}

.loader {
  border: 13px solid #292929;
  border-top: 13px solid #1ec49e;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
  margin: 2em auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
