* {
  color: #fff;
}

::placeholder {
  color: #999999;
}

.wrap {
  height: 100vh;
  background: #1a2a3b;
  padding-top: 75px;
}

.landing-content-container {
  /* background: #375a7d; */
  width: 90%;
  margin: 7em auto 2em;
}

.toggle-btn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.5em;
}

.login-input,
.registration-input {
  display: block;
  margin: 1em 0;
  padding-bottom: 0.25em;
  width: 80%;

  border: none;
  border-bottom: 1px solid #999999;

  background: none;
}

input:not([type="submit"]):focus {
  border-bottom: 1px solid white;
}

input[type="submit"] {
  width: 100px;
  padding: 1em;
  font-size: 14px;

  border: none;
  border-radius: 90px;
}

input[type="submit"] {
  background: #1ec49e;
  /* background: none; */
}

input:not([type="submit"]),
.title {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.highlighted-button {
  text-decoration: underline;
  color: #1ec49e;
}

.error-container {
  width: 90%;
  /* background: green; */
  margin: 0 auto;
}
