.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  background: red;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
  transition: top 0.3s;
}

.hamburger-icon,
.hamburger-icon-open {
  display: inline-block;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.barsContainer {
  width: 32px;
}

.hamburger-icon-open {
  background-color: blue;
}

.bar1,
.bar2,
.bar3 {
  width: 100%;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.hamburger-icon.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.hamburger-icon.change .bar2 {
  opacity: 0;
}

.hamburger-icon.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

#sideNav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: red;
  transition: all 0.5s;
  overflow-x: hidden;
  padding-top: 75px;
  z-index: 9;

  display: flex;
  flex-direction: column;
}

.sidenav-open {
  width: 200px;
}

.sidenav-close {
  width: 0;
}

.sidenav-link {
  margin: 0.75em auto;
  width: 80%;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.sidenav-link:hover {
  background: blue;
  transition: all 0.5s;
}
